/* Hashtag invoca o id */
#container {
    background-color: antiquewhite;
}

/* Ponto invoca classe */
.quadrados {
    background-color: aqua;
    width: 200px;
    height: 200px;
    border: black 2px dashed;
    border-radius: 50%;
}