#card { 
    background-color: aliceblue;
    border: 10px solid blue;

    width: 500px;
    /* colocando padding: 50px é aplicado 50px de padding em todas as direções */
    padding: 50px;
}

#foto {
    width: 400px;
}
